<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<style>
	select,
	p,
	input {
		font: 1em Calibri;
	}
</style>
<section id="home" class="intro intro-bg bg-overlay parallax text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 caption-two-panel text-center mt-5 ">
				<div class="intro-caption mt-5">
					<h1 class="text-white  mb-2">Booking</h1>
					<p class="text-white mb-4">
						When you walk into our shop to start your day, we are dedicated to providing you with friendly
						service, a welcoming atmosphere. If you are not satisfied, please let us know and we will do
						whatever we can to make things right!.</p>
				</div>
			</div>
		</div>
</section> 

<section class="testimonial-section bg-white py-5 h-1000" id="contact">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-xl-7">
				<form id="contactForm" data-sb-form-api-token="API_TOKEN">
				{{!-- 	<p>
						<input type="button" style="margin:20px 0px 0 270px;" class="button" onclick="populateSelect()"
							value="Bat dau chon dich vu" />
					</p> --}}
					<script type='text/x-handlebars-template' id='service-table'></script> 

					<p id="msg"></p>
					<p style="padding:10px;"> <a style="color:#b5838d;text-decoration:underlined;" target="_blank" </a>.
					</p>
					<div class="form-group mb-3">
						<label for="exampleFormControlSelect1">Choose a service</label>
						<label for="exampleFormControlSelect1">(Hold down the Ctrl (windows) or Command (Mac) button to
							select multiple
							options.)</label>

						<select class="form-control" id="allservices" style=" height:200px;" multiple onchange="validateSelectBox(this)">
							<option value="" data-name="" data-price=""></option>

						</select>

						<label id="lblSel" style="color:green"></Label>
						<script language="javascript">
							function validateSelectBox(obj) {
								var options = obj.children;
								var html = '';
								for (var i = 0; i < options.length; i++) {
									if (options[i].selected) {
										html = html + ',' + options[i].value;
									}
								}
								var b = html;
								console.log(b);
								var temp = document.getElementById('allservices');
								console.log(temp);
								b = b.substr(1);
                   				b = b.split(',');
								console.log(b);
								localStorage.setItem("senddata", JSON.stringify(b));
							
							}

						</script>

					</div>

			</div>

			<div class="text-center">
				<a class="w-45 btn btn-primary" href="/cart">BOOKING</a>
				{{!-- <button type="button" class="w-45 btn btn-primary" id="submitButton">BOOKING</button> --}}
			</div>
			</form>
		</div>
	</div>
	</div>

	<script>

		function populateSelect() {
			// THE JSON ARRAY.
			get_allService((result) => {
				var birds = result;
				
				var ele = document.getElementById('allservices');
				for (var i = 0; i <= birds.length; i++) {
					// POPULATE SELECT ELEMENT WITH JSON.
					ele.innerHTML = ele.innerHTML +
						'<option value="' + birds[i].id_service + '" name="' + birds[i].name_service + '" price= "' + birds[i].price_service + '">' + birds[i].name_service + '</option>';
				}
			});
		}

		populateSelect();


	</script>

	{{!-- <div id="allservices"></div> --}}


	<script type="text/javascript">

	</script>

</section>



<section id="testimonial" class="testimonial-section bg-white py-5 h-1000">
<section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Our Promise</span>
                                <span class="section-heading-lower">To You</span>
                            </h2>
                            <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
                        </div>
                    </div>
                </div>
            </div>
</section>	
</section> 



<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />
