<!-- Intro Three -->
<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style2.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />


<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='allservices'></script>


<section id="location" class="testimonial-section bg-white py-5 h-500">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center" id="allservices">




            </div>
        </div>

    </section>
</section>

{{!-- xu ly tang giam so luong san pham --}}
<script>
    function increaseValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
        localStorage.setItem("data_icrdcr", value);
        console.log(document.getElementById('number').value);
    }

    function decreaseValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number').value = value;
        localStorage.setItem("data_icrdcr", value);
        console.log(value);
    }
</script>
{{!-- xu ly luu danh sach san pham vao gio hang --}}
<script>
    var list_service = '';
    function add_service_tocart(id) {
        console.log(id);
        console.log(localStorage.getItem('data_icrdcr'));
        list_service = list_service + ',' + id;
        localStorage.setItem("send_data", list_service);
        localStorage.removeItem('data_icrdcr');
        console.log("ket qua");
        console.log(localStorage.getItem('data_icrdcr'));
        console.log(list_service);
        alert("Thêm thành công");
    }
</script>





<script>
    var id_service = localStorage.getItem("send_data");
    console.log(id_service);

    getService_byid(id_service, (result) => {
        var birds = result;

        var ele = document.getElementById('allservices');

        localStorage.setItem("senddata_list_idservice", id_service);

        ele.innerHTML +=
            "<h2> con cac </h2>";

        
        document.getElementById("allservices").innerHTML = ele.innerHTML;
        console.log(ele);
    });
</script>

<section id="testimonial" class="testimonial-section bg-white py-5 h-1000">
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To You</span>
                        </h2>
                        <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you
                            with friendly service, a welcoming atmosphere, and above all else, excellent products made
                            with the highest quality ingredients. If you are not satisfied, please let us know and we
                            will do whatever we can to make things right!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />