<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>


<div class="col-lg-5">
    <div class="card mb-4">
        <a href="#!">
            <img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" />
        </a>
        <div class="card-body">

            <h2 class="card-title h4"> birds[i].tenSP </h2> birds[i].giaTien "VNĐ"
            <br>
            <a class="w-55 btn btn-primary" onclick="add_service_tocart(" birds[i].id ")" id="detai">Thêm vào giỏ hàng
            </a>
        </div>
    </div>
</div>;


	<div class="col-lg-5">
						<div class="card mb-4">
							<a href="#!">
								<img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" />
							</a>
							<div class="card-body">

								<h2 class="card-title h4"> birds[i].tenSP </h2> birds[i].giaTien "VNĐ"
								<br>

								<div class="value-button" id="decrease" onclick="decreaseValue()"
									value="Decrease Value"> - </div>
								<input type="number" id="number" value="0" />
								<div class="value-button" id="increase" onclick="increaseValue()"
									value="Increase Value"> + </div>

								<a class="w-55 btn btn-primary" onclick="add_service_tocart(" birds[i].id ")"
									id="detai">Thêm vào giỏ hàng
								</a>
							</div>
						</div>
					</div> 