<!--intro -->
	<section id="introgallery" class="intro intro-bg bg-overlay parallax text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 caption-two-panel text-center mt-5 ">
					<div class="intro-caption mt-5">
						<h1 class="text-white  mb-2">Gallery</h1>
						<p class="text-white mb-4">
							When you walk into our shop to start your day, we are dedicated to providing you with
							friendly service, a welcoming atmosphere. If you are not satisfied, please let us know and
							we will do whatever we can to make things right!.</p>
					</div>
				</div>
			</div>
	</section>

	
<!-- Gallery -->
<section id="gallery" class="testimonial-section sec-bg-04 py-5 h-500">
	<div class="container">
		<div class="three-panel-block my-4">
					<div class="row mt-5">
						<div class="col-4">
							<img src="/g-1.png" alt="" class="w-100">
						</div>
						<div class="col-4">
							<img src="/g-2.png" alt="" class="w-100">
						</div>
						<div class="col-4">
							<img src="/g-3.png" alt="" class="w-100">
						</div>
					</div>
					<div class="row mt-5 mb-276">
						<div class="col-4">
							<img src="/g-4.png" alt="" class="w-100">
						</div>
						<div class="col-4">
							<img src="/g-5.png" alt="" class="w-100">
						</div>
						<div class="col-4">
							<img src="/g-6.png" alt="" class="w-100">
						</div>
					</div>
				</div>
	</div>
</section>