<!-- Intro -->
<section id="introlocation" class="intro intro-bg bg-overlay parallax text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 caption-two-panel text-center mt-5 ">
				<div class="intro-caption mt-5">
					<h1 class="text-white  mb-2">Location </h1>
					<p class="text-white mb-4">
						When you walk into our shop to start your day, we are dedicated to providing you with friendly
						service, a welcoming atmosphere. If you are not satisfied, please let us know and we will do
						whatever we can to make things right!.</p>
				</div>
			</div>
		</div>
</section>


<!--Location -->
	<section id="location" class="testimonial-section sec-bg-04 py-5 h-500">
		<div class="container">
			<div class=" copy-container text-center">
				<div class="col-md-12">
					<div class="p-5 mb-8 bg-white">
						<p class="mb-0 font-weight-bold">Address</p>
						<p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>
						<p class="mb-0 font-weight-bold">Phone</p>
						<p class="mb-4"><a href="#">0899795714</a></p>
						<p class="mb-0 font-weight-bold">Email Address</p>
						<p class="mb-0"><a href="#">sundara@gmail.com</a></p>
					</div>
				</div>
			</div>
	</section>
