<!-- Intro -->
<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />
<img class="card-img" src="/Header.png" alt="..." />

<div class="bg-white">
	<div class="container py-5">
		
		<div class="row ">
			<!-- Side widgets-->
			<div class="col-lg-4">
				<!-- Search widget-->

				<div class="row">
					<div class="card-body">
						<form class="form-inline my-5 my-lg-3" id="add4">
							<input class="form-control mr-sm-3 " id="search_service" type="search" placeholder="Search"
								aria-label="Search">
							<button class="btn btn-primary" type="submit">
								<i class="fas fa-search fa-sm"></i>
							</button>
						</form>
					</div>

					<!-- Categories widget-->

					<div class="title primary"><strong>Danh mục</strong></div>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Liên hệ</a>
							
						</li>
					</ul>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Tài khoản và mục khác</a>
						</li>
					</ul>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Đơn hàng và thanh toán</a>
							
						</li>
					</ul>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Trả hàng và hoàn tiền</a>
							
						</li>
					</ul>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Bán hàng và đối soát</a>
							
						</li>
					</ul>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Vận chuyển</a>
							
						</li>
					</ul>
				</div>

			</div>
			<!-- Blog entries-->



			<div class=" col-lg-8">
				<!-- Nested row for non-featured blog posts-->
				<div class="col-md-12">
					<div class="p-5 mb-8 bg-white">
						<p class="mb-0 font-weight-bold">Address</p>
						<p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>
						<p class="mb-0 font-weight-bold">Phone</p>
						<p class="mb-4"><a href="#">0899795714</a></p>
						<p class="mb-0 font-weight-bold">Email Address</p>
						<p class="mb-0"><a href="#">dichothue@gmail.com</a></p>
					</div>
				</div>
				


				
				<!-- next page-->
				
			</div>

		</div>
	</div>
</div>


