<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<img class="card-img" src="/Header.png" alt="..." />

<!--introservice-->
<!--<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="fw-bolder">Chào mừng bạn đến Đi Chợ Thuê</h1>
                    <img class="card-img" src="/Header.png" alt="..." />
                </div>
            </div>
</header>-->
<!-- Page content-->
<div class = "bg-white">
        <div class="container">
			<br>
			<br>
			<br>
            <div class="  row">
                <!-- Blog entries-->
                <div class=" col-lg-9">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Giam 10%</div>
                                    <h2 class="card-title h4">Ca rỏt</h2>
                                    <p class="card-text">........................................</p>
                                    <a class="btn btn-primary" href="/detail">Detail</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Giam 10%</div>
                                    <h2 class="card-title h4">Ca rỏt</h2>
                                    <p class="card-text">........................................</p>
                                    <a class="btn btn-primary" href="/detail">Detail</a>
                                </div>
                            </div>

							<div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Giam 10%</div>
                                    <h2 class="card-title h4">Ca rỏt</h2>
                                    <p class="card-text">........................................</p>
                                    <a class="btn btn-primary" href="/detail">Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Giam 10%</div>
                                    <h2 class="card-title h4">Ca rỏt</h2>
                                    <p class="card-text">........................................</p>
                                    <a class="btn btn-primary" href="/detail">Detail</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Giam 10%</div>
                                    <h2 class="card-title h4">Ca rỏt</h2>
                                    <p class="card-text">........................................</p>
                                    <a class="btn btn-primary" href="/detail">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- next page-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-3">
                    <!-- Search widget-->
                    
                    <div class="row">   
                        <div class="card-body">
                            <form class="form-inline my-5 my-lg-3" id="add4">
								<input class="form-control mr-sm-3 " id="search_service" type="search" placeholder="Search"
									aria-label="Search">
								<button class="btn btn-primary" type="submit">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</form>
                        </div>
                    
                    <!-- Categories widget-->
                    
					<div class="title"><strong>Category</strong></div>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Đồ ăn<i class="fa fa-minus"></i></a>
							<ul class="sub-category-tabs">
								<li><a href="javascript:void">Thịt</a></li>
								<li><a href="javascript:void">Cá</a></li>
								<li><a href="javascript:void">Rau củ</a></li>
							</ul>
						</li>
					</ul>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Nước uống<i class="fa fa-minus"></i></a>
							<ul class="sub-category-tabs">
								<li><a href="javascript:void">Pepsi</a></li>
								<li><a href="javascript:void">Coca</a></li>
								<li><a href="javascript:void">Rượu JS</a></li>
							</ul>
						</li>
					</ul>
					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category">Đồ gia dụng, vệ sinh<i class="fa fa-minus"></i></a>
							<ul class="sub-category-tabs">
								<li><a href="javascript:void">Đồ gia dụng</a></li>
								<li><a href="javascript:void">Đồ vệ sinh</a></li>
								<li><a href="javascript:void">Mai Thúy</a></li>
							</ul>
						</li>
					</ul>
				</div> 
                    
                </div>
            </div>
        </div>
</div>
 

<script>
	$('#category-tabs li a').click(function(){
    $(this).next('ul').slideToggle('500');
    $(this).find('i').toggleClass('fa-minus fa-plus ')
});
</script>




<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='service-table1'></script>

<div id="all-r"></div>
{{!-- them vao gio hang localStorage.setItem("senddata", JSON.stringify(b)); --}}
<script>
	var list_service = '';
	function add_service_tocart(id) {
		console.log(id);
		list_service = list_service + ',' + id;
		localStorage.setItem("send_data", list_service);
		console.log(list_service);
		alert("Thêm thành công");
	}
</script>
<script>
	var arr_img;
	for (let i = 1; i < 20; i++) {
		arr_img = arr_img + ',' + 's' + i + '.png';
	}
	arr_img = arr_img.split(',');
	arr_img.shift();

	get_allService((result) => {
		var birds = result;
		var ele = document.getElementById('allservicess');
		for (var i = 0; i <= birds.length; i++) {

			var list_arr_service = "";

			for (let j = 0; j < result.length; j++) {

				list_arr_service = list_arr_service + ',' + result[j].tenSP;
			}
			list_arr_service = list_arr_service.substr(1);
			
			console.log(list_arr_service);
			// POPULATE SELECT ELEMENT WITH JSON.
			ele.innerHTML = ele.innerHTML + "<div class=\"col-sm-4 py-3\">" +
				"<div class=\"card h-100\">" +
				"<img class=\"card-img-top\" src=\"/" + arr_img[i] + "\" height=\"200\" alt=\"...\" />" +
				"<div class=\"card-body p-4\">" +
				"<div class=\"text-center\">" +
				"<h5 class=\"fw-bolder\">" + birds[i].tenSP + "</h5>" +
				birds[i].giaTien + " VNĐ" + "<br>" +

				"</div>" +
				"</div>" +
				"<div class=\"card-footer p-4 pt-0 border-top-0 bg-transparent\">" +
				"<div class=\"text-center\">" +
				"<a class=\"w-55 btn btn-primary\" onclick= \"add_service_tocart(" + birds[i].id + ")\" id=\"detai\" >Thêm vào giỏ hàng </a>" +
				"</div>" +
				"</div>" +
				"</div>" +
				"</div>";
		}
		document.getElementById("allservicess").innerHTML = ele;
	});
</script>

<script>
	function search_service() {
		document.getElementById("allservicess").innerHTML = "";
		var temp_service = document.getElementById('search_service').value;
		console.log(temp_service);
		getServices_byname(temp_service, (result) => {
			var birds = result;
			var ele = document.getElementById('allservicess');
			for (var i = 0; i <= birds.length; i++) {
				// POPULATE SELECT ELEMENT WITH JSON.
				ele.innerHTML = ele.innerHTML + "<div class=\"col-sm-5 py-3\">" +
					"<div class=\"card h-100\">" +
					"<img class=\"card-img-top\" src=\"/n-5.png\" height=\"200\" alt=\"...\" />" +
					"<div class=\"card-body p-4\">" +
					"<div class=\"text-center\">" +
					"<h5 class=\"fw-bolder\">" + birds[i].name + "</h5>" +
					birds[i].price +
					"</div>" +
					"</div>" +
					"<div class=\"card-footer p-4 pt-0 border-top-0 bg-transparent\">" +
					"<div class=\"text-center\">" +
					"<a class=\"w-50 btn btn-primary\" id=\"detai\" href=\"/detail\">Detail</a>" +
					"</div>" +
					"</div>" +
					"</div>" +
					"</div>";
			}
			document.getElementById("allservicess").innerHTML = ele;
		});
	}
</script>



<script>
	var form = document.getElementById('add4');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		search_service();
	});

</script>
<!--
<section id="testimonial" class="testimonial-section bg-white py-5 h-1000">
	<section class="page-section cta">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<div class="cta-inner bg-faded text-center rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Our Promise</span>
							<span class="section-heading-lower">To You</span>
						</h2>
						<p class="mb-0">GHI THÔNG TIN LIÊN LẠC Ở ĐÂY</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>-->



<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />